/*Reset & Body*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: cornflowerblue;
}

/*Form*/

form {
    display: flex;
}

.input-wrapper {
    position: relative;
}

.error-message {
    position: absolute;
}

.error {
    border: 2px solid red;
}

/*Board, Tiles, Ships*/

.preparation {
    padding: 50px;
}

.board {
    width: 500px;
    height: 500px;
    background-color: white; 

    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
}




