/*Reset & Body*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: cornflowerblue;
}

/*Form*/

form {
    display: flex;
}

.input-wrapper {
    position: relative;
}

.error-message {
    position: absolute;
}

.error {
    border: 2px solid red;
}

/*Board, Tiles, Ships*/

.preparation {
    padding: 50px;
}

.board {
    position: relative;

    width: 500px;
    height: 500px;
    background-color: white; 

    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
}

.light {
    background-color: #6BAFB3;
}

.dark {
    background-color: cadetblue;
}

.ship-container {
    position: absolute;
    width: 10%;
    height: 10%;
    touch-action: none;
}

.ship-wrapper {
    padding: 3px;
}

.ship {
    background-color: #AAA;
    border-radius: 100vmax;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.can-place-indicator {
    position: absolute;
    opacity: 0.5;
}

.can-place-indicator.valid {
    background-color: green;
}

.can-place-indicator.invalid {
    background-color: red;
}


